.decks__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.decks {
  max-width: 200px;
  min-width: 200px;
  min-height: 350px;
  width: 30%;
  border-radius: 15px;
  background-color: dimgray;
}

.decks:nth-child(2) {
  background-color: crimson;
}