body {
  background: repeat #000 url("https://raw.githubusercontent.com/lordniken/feed-your-cat/master/src/assets/bg.png");
  font-family: "Trebuchet MS", sans-serif;
}

.app {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
